.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 350px;
    background: linear-gradient(90deg,#e4e9f4 0%,#5B7596 50%);
    font-family: 'Roboto','Helvetica Neue', sans-serif;
    
}
.left
{
    padding: 42px 6px;
    background: white;
    top: 20px;
    background-color: #ffffff;
    font-family: system-ui,sans-serif;
    font-size: 16px;
}
.right
{
    padding: 42px 6px;
    font-family: system-ui,sans-serif;
    background-color: #17355E;
    color: #f1f1f2;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    
}
.title
{
    color: #2B347B;
    text-align: center;
    font-weight: 700;
    line-height: 2rem;

}
.title1
{
    font-size: 32px;
    margin:0px 0px 8px;
}
.title2
{
    font-size: 24.8px;
    margin:0px 0px 16px;
}
.desc
{
    color: #999999;
    margin: 32px 0px 16px;
    text-align: center;
}
.qoutes
{
    margin: 8px 16px;
    color: #767569;
    font-size: 13px;
    text-align: center;
    line-height: 1.5;
}
.author{
    line-height: 1;
    margin: 8px 16px;
    color: #767569;
    font-size: 13px;
    text-align: center;
}
form
{
    color: #BABABA;
    font-size: 16px;
    margin: 0px 48px 6px;
}
.label
{
    margin-bottom: 3px;
}
input{
    width: 100%;
    margin-bottom: 12px;
    background: transparent;
    border: 2px solid gray;
    border-radius: .2rem;
    padding: 6px 12px;
}
input:hover,input:active{
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.22);
}
.signin-button
{
    width: 100%;
    color: #BABABA;
    background-color: #ffffff;
    background: transparent;
    border: 2px solid gray;
    border-radius: .2rem;
    font-weight: 500;
    font-size: 14px;

}
.forget
{
    margin-top: -8%;
}
.image
{
    width: 25px;
    height: 25px;
    margin-right: 4px;
}
.ms
{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #e2e1e1;

}
.btn{
    padding:6px 12px;
    background: transparent;
    border: 1px solid #B3BBC5;
    border-radius: 4px;
    display: flex;
    justify-items: center;
    align-items: center;
}
@media screen and (max-width:650px) {

    .page
    {
        display: grid;
        justify-content: center;
        align-content: center;
        overflow: hidden;  
    }
    .left {
        padding: 42px 6px;
        margin-left: 8%;
        background: white;
        top: 20px;
        background-color: #ffffff;
        font-family: system-ui, sans-serif;
        font-size: 16px;
        width: 80%;
    }

    .right {
        padding: 42px 6px;
        font-family: system-ui, sans-serif;
        background-color: #17355E;
        color: #f1f1f2;
        width: 90%;
        box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
        margin-top: -4rem;
        margin-left: 3%;
        z-index: 2;
    }
    .ms
    {
        text-decoration: none;
        color: #E2E1E1;
        font-size: small;
    }
}